# {{ ansible_managed }}
[wapt]
name=WAPT Server Repo
baseurl=https://wapt.tranquil.it/{{ centos_version }}/wapt-{{ wapt_version }}/
gpgkey=https://wapt.tranquil.it/{{ centos_version }}/RPM-GPG-KEY-TISWAPT-7
enabled=1
gpgcheck=0
